/*==================================
# shop
==================================*/
.shop-page{
    background: $color-white;
    height: auto;
}
.shop-page__inner{

}
.shop-page__head{
    font-family: $font-english;
    color: $color-text;
    font-weight: 200;
    font-size: 96px;
    text-align: center;
    @include mq(tab) {
        font-size: 64px;
    }
    @include mq(sp) {
        font-size: 56px;
    }
}
.shop-page__title{
    font-family: $font-english;
    color: $color-text;
    font-weight: 500;
    font-size: 48px;
    background: linear-gradient(transparent 50%, $color-yellow 70%);
    margin-bottom: 50px;
    @include mq(tab) {
        font-size: 36px;
    }
    @include mq(sp) {
        font-size: 24px;
    }
}
.shop__photos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.shop-photo{
    width: calc(100% / 3 - 36px * 2 / 3);
    @include mq(pc) {
        &:not(:nth-child(3n + 1)){
            margin-left: 36px;
        }
        &:nth-child(n + 4){
            margin-top: 33px;
        }       
    }
    @include mq(tab) {
        width: calc(50% - 30px * 1 / 2);
        &:not(:nth-child(2n + 1)){
            margin-left: 30px;
        }
        &:nth-child(n + 3){
            margin-top: 30px;
        }
    }
    @include mq(sp) {
        width: 100%;
        &:not(:first-child){
            margin-top: 30px;
        }
    }
    img{

    }
}

/*==================================
# recruit
==================================*/
.recruit{
    background: $color-white;
}
.recruit__inner{
    display: flex;
    justify-content: center;
}
.recruit__image{
        width: 400px;
        height: 400px;
        @include mq(tab) {
            width: 300px;
            height: 300px;
        }
        @include mq(sp) {
            width: 100%;
            height: auto;
            display: block;
            position: relative;
            &::before{
                content: "";
                display: block;
                padding-top: 100%;
            }
        }
        img{
            width: 100%;
            height: 100%;
            @include mq(sp) {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
}
.recruit__content{

}
.recruit__content-title{

}
.recruit__content-description{

}
.recruit__button{

}
