@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Oswald:wght@200;400;700&display=swap");
/*==================================
# common
==================================*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  overflow-x: hidden;
  max-width: 100%;
  word-break: break-all;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

a:hover {
  opacity: 0.6;
}

ul {
  list-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  font-size: inherit;
  color: "Noto Sans JP", sans-serif;
  border: 1px solid #333;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: 0;
}

input[type="submit"] {
  width: 100%;
  font-size: inherit;
  color: #fff;
  border: 1px solid #333;
  background-color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input[type="submit"]:hover {
  opacity: 0.6;
}

select {
  width: 100%;
  font-size: inherit;
  color: #333;
  border: 1px solid #333;
}

select option {
  color: #333;
}

select option:first-child {
  display: none;
}

textarea {
  width: 100%;
  font-size: inherit;
  color: #333;
  border: 1px solid #333;
  resize: none;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: #333;
}

:-ms-input-placeholder {
  opacity: 1;
  color: #333;
}

::-ms-input-placeholder {
  opacity: 1;
  color: #333;
}

::placeholder {
  opacity: 1;
  color: #333;
}

.SPACER--60 {
  height: 60px;
}

.SPACER--80 {
  height: 80px;
}

.SPACER--100 {
  height: 100px;
}

.SPACER--130 {
  height: 130px;
}

.SPACER--160 {
  height: 160px;
}

.SPACER--200 {
  height: 200px;
}

.SP--NONE {
  display: block;
}

@media (max-width: 767px) {
  .SP--NONE {
    display: none;
  }
}

.TAB--NONE {
  display: block;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .TAB--NONE {
    display: none;
  }
}

@media (max-width: 767px) {
  .TAB--NONE {
    display: none;
  }
}

.inner {
  max-width: 1440px;
  padding: 0 150px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

.btn-color a {
  display: inline-block;
  width: 335px;
  max-width: 100%;
  height: 85px;
  line-height: 85px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
          box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .btn-color a {
    height: 75px;
    line-height: 75px;
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .btn-color a {
    width: 230px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
  }
}

.btn-color-blue a {
  background: #0087cb;
}

.btn-color-blue-sm a {
  height: 70px;
  line-height: 70px;
  font-size: 32px;
  background: #0087cb;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .btn-color-blue-sm a {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .btn-color-blue-sm a {
    font-size: 24px;
    height: 50px;
    line-height: 50px;
  }
}

.btn-color-green a {
  background: #00a03e;
}

.btn-transparent {
  display: inline-block;
}

.btn-transparent a {
  padding: 15px 40px;
  display: inline-block;
  max-width: 100%;
  height: 60px;
  line-height: 1;
  font-size: 24px;
  text-align: center;
  border: 2px solid #333;
  background: transparent;
  color: #333;
  -webkit-box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
          box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
}

@media (max-width: 767px) {
  .btn-transparent a {
    font-size: 16px;
    line-height: inherit;
  }
}

.btn-transparent-vw a {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 1.66vw;
  height: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .btn-transparent-vw a {
    font-size: 1.25vw;
    padding: 10px 40px;
  }
}

@media (max-width: 767px) {
  .btn-transparent-vw a {
    font-size: 5.5vw;
    padding: 5px 40px;
  }
}

@media (min-width: 1441px) {
  .btn-transparent-vw a {
    font-size: 24px;
  }
}

.btn-large a {
  display: inline-block;
  width: 795px;
  max-width: 100%;
  height: 85px;
  line-height: 85px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  background: #ed474a;
  color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
          box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .btn-large a {
    width: 100%;
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .btn-large a {
    width: 100%;
    height: auto;
    font-size: 18px;
    line-height: 2;
    padding: 10px 5px;
  }
}

.pagenation-wrapper {
  text-align: center;
}

.pagenation {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  display: inline-block;
}

.pagenation a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.pagenation a:hover {
  opacity: 0.6;
}

.pagenation a.next,
.pagenation a.prev {
  font-size: 30px;
  height: 40px;
  width: 40px;
}

.pagenation a.next:hover,
.pagenation a.prev:hover {
  opacity: 0.6;
}

.page-numbers {
  background: #fff;
  border: 1px solid #e2e2e2;
  color: #808080;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  height: 40px;
  line-height: 38px;
  margin-right: 14px;
  min-width: 40px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}

.page-numbers:last-child {
  margin-right: 0;
}

.page-numbers.current {
  background: #d81f32;
  border: 1px solid #d81f32;
  color: #fff;
  font-weight: 700;
}

.page-numbers.dots,
.page-numbers.next,
.page-numbers.prev {
  border: none;
  line-height: 40px;
  min-width: initial;
  width: auto;
}

.entry-404 {
  padding-bottom: 85px;
  text-align: center;
}

.entry-404-head {
  color: #f0cdd0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 36px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .entry-404-head {
    font-size: 56px;
  }
}

@media (max-width: 767px) {
  .entry-404-head {
    font-size: 36px;
  }
}

.entry-404-head span::after {
  content: " ";
}

.entry-404-lead {
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 24px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .entry-404-lead {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .entry-404-lead {
    font-size: 18px;
  }
}

.entry-404-lead .m_sp {
  display: none;
}

.entry-404-content {
  color: #333;
}

.entry-404-btn {
  margin-top: 58px;
}

.entry-404-btn .btn {
  background: #ed474a;
  color: #fff;
}

.entry-404-btn .btn:hover {
  background: #e5e5e5;
  opacity: 1;
}

.cta {
  background: url(../img/cat-bg.png) no-repeat;
  background-size: cover;
}

.cta__inner {
  text-align: center;
}

.cta-title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cta-title {
    font-size: 38px;
  }
}

@media (max-width: 767px) {
  .cta-title {
    font-size: 32px;
  }
}

.cta-description {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  color: #fff;
  margin: 50px 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cta-description {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .cta-description {
    font-size: 18px;
  }
}

/*==================================
# header
==================================*/
.header {
  background: #fff;
  height: 100px;
  max-width: 100%;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
  z-index: 100;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo a {
  font-size: 56px;
  font-family: "Oswald", sans-serif;
  color: #ed474a;
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header__logo a {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .header__logo a {
    font-size: 32px;
  }
}

.drawer {
  position: relative;
  width: 45px;
  height: 45px;
}

.drawer__checkbox {
  display: none;
}

.drawer__icon {
  cursor: pointer;
  display: block;
  width: inherit;
  height: inherit;
  position: fixed;
  top: 30px;
  bottom: 0;
}

@media (max-width: 767px) {
  .drawer__icon {
    top: 10px;
  }
}

.drawer__icon-parts, .drawer__icon-parts::before, .drawer__icon-parts::after {
  background: #ed474a;
  display: block;
  width: 26px;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.drawer__icon-parts::before, .drawer__icon-parts::after {
  content: '';
}

.drawer__icon-parts::before {
  top: 16px;
}

.drawer__icon-parts::after {
  top: -16px;
}

.drawer__overlay {
  background: #333;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

.drawer__menu {
  background: #fff;
  color: #333;
  max-width: 100%;
  width: 320px;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: -320px;
}

.drawer__menu .drawer__item {
  display: block;
}

.drawer__menu .drawer__item:not(:first-child) {
  margin-top: 10px;
}

.drawer__menu .drawer__item-inner {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.drawer__icon {
  z-index: 104;
}

.drawer__menu {
  z-index: 103;
}

.drawer__overlay {
  z-index: 101;
}

.drawer__checkbox:checked ~ .drawer__icon .drawer__icon-parts {
  background: transparent;
}

.drawer__checkbox:checked ~ .drawer__icon .drawer__icon-parts::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.drawer__checkbox:checked ~ .drawer__icon .drawer__icon-parts::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.drawer__checkbox:checked ~ .drawer__overlay {
  opacity: 0.3;
  pointer-events: auto;
}

.drawer__checkbox:checked ~ .drawer__menu {
  right: 0;
}

@media (max-width: 767px) {
  .drawer__checkbox:checked ~ .drawer__menu {
    max-width: 230px;
  }
}

.drawer__checkbox:checked ~ .drawer__menu ul {
  width: 200px;
  margin-left: auto;
  margin-top: 100px;
  margin-right: auto;
}

.drawer__checkbox:checked ~ .drawer__close {
  left: 0;
}

.drawer__icon-parts, .drawer__icon-parts::after, .drawer__icon-parts::before, .drawer__overlay, .drawer__menu {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.drawer__close {
  width: 100%;
  height: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 102;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*==================================
# footer
==================================*/
.footer {
  background: #012136;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer__nav {
    display: block;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer__nav {
    display: block;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer__nav li:not(:first-child) {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .footer__nav li:not(:first-child) {
    margin-top: 20px;
  }
}

.footer__nav li a {
  color: #fff;
  font-size: 18px;
}

.copyright {
  margin-top: 45px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

/*==================================
# mainvisual
==================================*/
.main-visual__inner {
  width: 100%;
  height: 670px;
  background: #fff;
  position: relative;
}

@media (min-width: 1025px) {
  .main-visual__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 150px;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 670px;
  }
}

.main-visual__left {
  width: 100%;
}

@media (min-width: 1025px) {
  .main-visual__left {
    width: calc(50% - 65px * 1 / 2);
    height: auto;
    min-height: 670px;
  }
}

.main-visual__image {
  width: 100%;
  height: 670px;
  background: url(../img/mv-sp.png) no-repeat top center/cover;
}

@media (min-width: 1025px) {
  .main-visual__image {
    padding-top: 119.29%;
    background: url(../img/mv-pc.png) no-repeat center center/cover;
    height: 0;
    min-height: 670px;
  }
}

.main-visual__right {
  position: absolute;
  top: 60px;
  left: 0;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  padding: 40px 10px 30px;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  max-height: 100%;
  height: 100%;
}

@media (min-width: 1025px) {
  .main-visual__right {
    width: calc(50% - 65px * 1 / 2);
    margin-left: auto;
    position: static;
    top: 0;
    -webkit-transform: none;
            transform: none;
    min-height: 670px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-visual__right {
    padding: 150px;
  }
}

.main-visual__title {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 96px;
  color: #333;
  white-space: nowrap;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-visual__title {
    font-size: 72px;
  }
}

@media (max-width: 767px) {
  .main-visual__title {
    font-size: 56px;
  }
}

.main-visual__description {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  color: #333;
  margin-top: -5px;
  white-space: nowrap;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-visual__description {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .main-visual__description {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-visual__news {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .main-visual__news {
    margin-top: 30px;
  }
}

.main-visual__news__head {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 32px;
  color: #333;
  padding: 10px;
  border-bottom: 2px solid #000;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-visual__news__head {
    font-size: 24px;
    font-weight: normal;
  }
}

@media (max-width: 767px) {
  .main-visual__news__head {
    font-size: 18px;
    font-weight: normal;
  }
}

.main-visual__news__body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 200;
  font-size: 18px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-visual__news__body {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .main-visual__news__body {
    font-size: 14px;
  }
}

.main-visual__news__item {
  padding: 10px;
  margin-top: 20px;
  border-bottom: 2px solid #e5e5e5;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .main-visual__news__item {
    margin-top: 10px;
  }
}

.main-visual__news__item a {
  color: #333;
}

/*==================================
# online-service
==================================*/
.online-service {
  background: #012136;
}

.online-service__head {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 72px;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .online-service__head {
    font: 64px;
  }
}

@media (max-width: 767px) {
  .online-service__head {
    font-size: 48px;
  }
}

.online-service__all3 {
  position: relative;
  height: 900px;
}

.online-service__image {
  background: url(../img/online-girls.png) no-repeat center center/cover;
  width: 800px;
  height: 650px;
  margin: 0 0 0 auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .online-service__image {
    width: 600px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .online-service__image {
    width: 100%;
    padding-top: 100%;
  }
}

.online-service__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  width: 600px;
  height: 600px;
  padding: 0 50px;
  position: absolute;
  top: 190px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .online-service__content {
    width: 500px;
    height: 500px;
    left: -100px;
  }
}

@media (max-width: 767px) {
  .online-service__content {
    width: 100%;
    height: auto;
    min-height: 500px;
    top: 270px;
  }
}

.online-service__title {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 60px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .online-service__title {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .online-service__title {
    font-size: 40px;
  }
}

.online-service__description {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  margin: 40px 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .online-service__description {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .online-service__description {
    font-size: 18px;
  }
}

/*==================================
# menu-section
==================================*/
.card {
  background: url(../img/menu-bg.png) no-repeat center center/contain;
}

@media (max-width: 767px) {
  .card {
    background: url(../img/menu-bg.png) no-repeat center center/cover;
  }
}

.card__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

@media (max-width: 767px) {
  .card__items {
    display: block;
  }
}

.card__item-wrapper {
  width: 33.33%;
}

@media (max-width: 767px) {
  .card__item-wrapper {
    width: 100%;
  }
}

.card__item {
  width: 100%;
  height: 100%;
  padding-top: 100%;
  position: relative;
}

.card__item-menu {
  background: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 3.33vw;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card__title {
    font-size: 2.5vw;
  }
}

@media (max-width: 767px) {
  .card__title {
    font-size: 9vw;
  }
}

@media (min-width: 1441px) {
  .card__title {
    font-size: 48px;
  }
}

.card__lead {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 1.66vw;
  margin: 1.667vw 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card__lead {
    font-size: 1.25vw;
    margin: 1.73vw 0;
  }
}

@media (max-width: 767px) {
  .card__lead {
    font-size: 5.5vw;
    margin: 6.667vw 0;
  }
}

@media (min-width: 1441px) {
  .card__lead {
    font-size: 24px;
    margin: 45px 0;
  }
}

.card__image {
  width: 100%;
  height: 100%;
}

.card__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*==================================
# price
==================================*/
.price {
  background: #012136;
}

.price__head {
  font-size: 72px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .price__head {
    font-size: 64px;
  }
}

@media (max-width: 767px) {
  .price__head {
    font-size: 64px;
  }
}

.price__table {
  width: 100%;
  margin: 0 auto;
}

.table {
  margin: 0;
  width: 100%;
  border: 2px solid #fff;
  table-layout: fixed;
}

.table th,
.table td {
  height: 60px;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  line-height: 60px;
  vertical-align: middle;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .table th,
  .table td {
    font-size: 24px;
    line-height: 1.2;
  }
}

@media (max-width: 767px) {
  .table th,
  .table td {
    font-size: 22px;
  }
}

.table th {
  background: #fff;
  color: #333;
}

.table td {
  background: transparent;
  color: #fff;
  border-bottom: 1px solid #fff;
}

/*==================================
# access
==================================*/
.access {
  background: url(../img/access-bg.png) no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  .access {
    background: url(../img/access-bg.png) no-repeat;
    background-size: cover;
  }
}

.access__all {
  text-align: center;
}

.access__all3 {
  position: relative;
  height: 1200px;
}

@media (max-width: 767px) {
  .access__all3 {
    position: static;
    height: 1000px;
    margin-top: 60px;
  }
}

.access__image {
  background: url(../img/access.png);
  width: 700px;
  height: 500px;
  margin: 50px auto 0 50px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .access__image {
    width: 500px;
    height: 360px;
    margin: 0 auto 0 0;
  }
}

@media (max-width: 767px) {
  .access__image {
    width: 100%;
    padding-top: 71.4%;
    margin: 0 auto 0 0;
  }
}

@media (min-width: 1025px) and (max-width: 1279px) {
  .access__image {
    margin: 0 auto 0 0;
  }
}

.access__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e5e5e5;
  width: 400px;
  height: 500px;
  padding: 0 50px;
  position: absolute;
  top: 190px;
  left: 600px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .access__content {
    width: 300px;
    height: 375px;
    left: 280px;
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .access__content {
    width: 100%;
    height: auto;
    min-height: 300px;
    position: static;
    padding: 50px;
  }
}

@media (min-width: 1025px) and (max-width: 1279px) {
  .access__content {
    left: 430px;
  }
}

.access__wrapper {
  text-align: center;
}

.access__title {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 60px;
  text-align: left;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .access__title {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .access__title {
    font-size: 40px;
  }
}

.access__description {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  margin: 30px 0;
  text-align: left;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .access__description {
    font-size: 20px;
    margin: 20px 0;
  }
}

@media (max-width: 767px) {
  .access__description {
    font-size: 18px;
  }
}

/*==================================
# news
==================================*/
.news {
  background: #fff;
  height: auto;
}

.news__head {
  font-family: "Oswald", sans-serif;
  color: #333;
  font-size: 96px;
  font-weight: 200;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .news__head {
    font-size: 64px;
  }
}

@media (max-width: 767px) {
  .news__head {
    font-size: 56px;
  }
}

.news__items {
  text-align: center;
}

.news__item-link {
  display: inline-block;
}

.news__item-link:not(:first-child) {
  margin-top: 100px;
}

.news__item {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .news__item {
    width: 480px;
  }
}

@media (max-width: 767px) {
  .news__item {
    width: 100%;
    max-width: 100%;
  }
}

.news__img {
  width: 600px;
  height: 600px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .news__img {
    width: 480px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .news__img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
  }
  .news__img::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.news__img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .news__img img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.news__title {
  color: #333;
  font-size: 32px;
  margin: 15px 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .news__title {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .news__title {
    font-size: 24px;
  }
}

.news__text {
  color: #333;
  font-size: 24px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .news__text {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .news__text {
    font-size: 16px;
  }
}

.news__text + p {
  color: #333;
  font-size: 24px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .news__text + p {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .news__text + p {
    font-size: 16px;
  }
}

.single {
  width: 600px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .single {
    width: 480px;
  }
}

@media (max-width: 767px) {
  .single {
    width: 100%;
    max-width: 100%;
  }
}

.single__head {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 36px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .single__head {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .single__head {
    font-size: 28px;
  }
}

.single__img {
  width: 600px;
  height: 600px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .single__img {
    width: 480px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .single__img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
  }
  .single__img::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.single__img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .single__img img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.single__text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  line-height: 3.0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .single__text {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .single__text {
    font-size: 18px;
    margin-bottom: 60px;
  }
}

.single__button {
  text-align: center;
}

.single__button a {
  font-size: 36px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .single__button a {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .single__button a {
    font-size: 24px;
  }
}

/*==================================
# shop
==================================*/
.shop-page {
  background: #fff;
  height: auto;
}

.shop-page__head {
  font-family: "Oswald", sans-serif;
  color: #333;
  font-weight: 200;
  font-size: 96px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .shop-page__head {
    font-size: 64px;
  }
}

@media (max-width: 767px) {
  .shop-page__head {
    font-size: 56px;
  }
}

.shop-page__title {
  font-family: "Oswald", sans-serif;
  color: #333;
  font-weight: 500;
  font-size: 48px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(70%, #ffa200));
  background: linear-gradient(transparent 50%, #ffa200 70%);
  margin-bottom: 50px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .shop-page__title {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .shop-page__title {
    font-size: 24px;
  }
}

.shop__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.shop-photo {
  width: calc(100% / 3 - 36px * 2 / 3);
}

@media (min-width: 1025px) {
  .shop-photo:not(:nth-child(3n + 1)) {
    margin-left: 36px;
  }
  .shop-photo:nth-child(n + 4) {
    margin-top: 33px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .shop-photo {
    width: calc(50% - 30px * 1 / 2);
  }
  .shop-photo:not(:nth-child(2n + 1)) {
    margin-left: 30px;
  }
  .shop-photo:nth-child(n + 3) {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .shop-photo {
    width: 100%;
  }
  .shop-photo:not(:first-child) {
    margin-top: 30px;
  }
}

/*==================================
# recruit
==================================*/
.recruit {
  background: #fff;
  margin-bottom: 200px;
}

.recruit__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(0, rgba(0, 135, 203, 0.6)));
  background: linear-gradient(transparent 60%, rgba(0, 135, 203, 0.6) 0);
}

@media (max-width: 767px) {
  .recruit__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), color-stop(0, rgba(0, 135, 203, 0.6)));
    background: linear-gradient(transparent 20%, rgba(0, 135, 203, 0.6) 0);
  }
}

.recruit__image {
  width: 400px;
  height: 400px;
  margin-bottom: 60px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .recruit__image {
    width: 250px;
    height: 250px;
    margin-bottom: 0;
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .recruit__image {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
  }
  .recruit__image::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.recruit__image img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .recruit__image img {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 430px) {
  .recruit__image img {
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.recruit__content {
  width: 485px;
  height: 335px;
  padding: 30px 0 0 50px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .recruit__content {
    width: 218px;
    padding: 0 0 0 15px;
  }
}

@media (max-width: 767px) {
  .recruit__content {
    width: 100%;
    height: auto;
    padding: 0;
    margin-bottom: 40px;
    text-align: center;
  }
}

.recruit__content-title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 48px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .recruit__content-title {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .recruit__content-title {
    font-size: 32px;
  }
}

.recruit__content-description {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  line-height: 1.7;
  margin: 40px 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .recruit__content-description {
    font-size: 16px;
    margin: 20px 0;
  }
}

@media (max-width: 767px) {
  .recruit__content-description {
    margin: 20px 0;
    font-size: 18px;
  }
}

.recruit__button {
  max-width: 100%;
}

.casts-page {
  background: #fff;
}

.casts__head {
  font-family: "Oswald", sans-serif;
  color: #333;
  font-size: 96px;
  text-align: center;
  font-weight: 200;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .casts__head {
    font-size: 64px;
  }
}

@media (max-width: 767px) {
  .casts__head {
    font-size: 56px;
  }
}

.casts__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.casts__photo-link {
  display: inline-block;
  width: calc(33.33% - 88px * 2 / 3);
}

@media (min-width: 1025px) {
  .casts__photo-link:not(:nth-child(3n + 1)) {
    margin-left: 88px;
  }
  .casts__photo-link:nth-child(n + 4) {
    margin-top: 95px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .casts__photo-link {
    width: calc(100% / 2 - 48px * 1 / 2);
  }
  .casts__photo-link:not(:nth-child(2n + 1)) {
    margin-left: 48px;
  }
  .casts__photo-link:nth-child(n + 3) {
    margin-top: 45px;
  }
}

@media (max-width: 767px) {
  .casts__photo-link {
    width: 100%;
  }
  .casts__photo-link:not(:first-child) {
    margin-top: 90px;
  }
}

.casts__photo {
  width: 100%;
  height: 100%;
  padding-top: 100%;
  position: relative;
}

.casts__photo img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.casts-page__button {
  text-align: center;
}

.cast {
  width: 600px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cast {
    width: 480px;
  }
}

@media (max-width: 767px) {
  .cast {
    max-width: 100%;
    width: 100%;
  }
}

.cast__head {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 36px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cast__head {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .cast__head {
    font-size: 28px;
  }
}

.cast__img {
  width: 100%;
  height: 100%;
  padding-top: 100%;
  display: block;
  position: relative;
}

.cast__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cast__table {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .cast__table {
    margin-bottom: 60px;
  }
}

.cast__table .cell {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #e5e5e5;
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
}

.cast__table tr th,
.cast__table tr td {
  text-align: center;
  height: 90px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cast__table tr th,
  .cast__table tr td {
    height: 70px;
  }
}

@media (max-width: 767px) {
  .cast__table tr th,
  .cast__table tr td {
    height: 50px;
    font-size: 18px;
  }
}

.cast__table tr th {
  background: #e5e5e5;
  line-height: 90px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cast__table tr th {
    line-height: 70px;
  }
}

@media (max-width: 767px) {
  .cast__table tr th {
    line-height: 50px;
  }
}

.cast__table tr td {
  background: #fff;
  line-height: 1.7;
  vertical-align: middle;
}

.cast__button {
  text-align: center;
}

.sale {
  background: #fff;
}

.sale__head {
  font-family: "Oswald", sans-serif;
  color: #333;
  font-weight: 200;
  font-size: 96px;
  text-align: center;
  word-break: break-all;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sale__head {
    font-size: 64px;
  }
}

@media (max-width: 767px) {
  .sale__head {
    font-size: 56px;
  }
}

.sale__form-wrapper {
  background: #012136;
  padding: 185px 125px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sale__form-wrapper {
    padding: 90px 60px;
  }
}

@media (max-width: 767px) {
  .sale__form-wrapper {
    padding: 20px 10px;
  }
}

.sale__form-title {
  font-size: 36px;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sale__form-title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .sale__form-title {
    font-size: 24px;
  }
}

.sale__form-description {
  font-size: 24px;
  font-family: "Noto Sans JP", sans-serif;
  color: #fff;
  margin-top: 50px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sale__form-description {
    font-size: 20px;
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .sale__form-description {
    font-size: 18px;
    margin-top: 30px;
  }
}

.sale__form-row {
  margin-top: 50px;
  display: block;
}

@media (min-width: 1025px) {
  .sale__form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sale__form-row {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .sale__form-row {
    margin-top: 30px;
  }
}

.sale__form-label {
  margin: 0;
  padding: 0;
  width: 100%;
}

@media (min-width: 1025px) {
  .sale__form-label {
    width: 200px;
  }
}

.sale__form-label label {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 24px;
  background: #e5e5e5;
  padding: 10px 16px;
  width: 100%;
  display: inline-block;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sale__form-label label {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .sale__form-label label {
    font-size: 16px;
  }
}

.sale__form-input {
  margin: 0;
  padding: 0;
  width: 100%;
}

@media (min-width: 1025px) {
  .sale__form-input {
    width: calc(100% - 200px);
  }
}

.sale__form-input [type="text"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  width: 100%;
  padding: 10px 16px;
  height: 100%;
}

.sale__form-input [type="password"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #333;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  width: 100%;
  padding: 10px 16px;
  height: 100%;
}

.sale__form-button {
  margin-top: 50px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sale__form-button {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .sale__form-button {
    margin-top: 30px;
  }
}

.sale__form-button [type="submit"] {
  font-size: 24px;
  font-weight: 700;
  background: #ed474a;
  width: 200px;
  max-width: 100%;
  color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
          box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border: none;
  display: inline-block;
}

.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;
  background: #fff;
}

.contact-message.-error {
  color: #ed474a;
}

.contact-message.-active {
  display: block;
}

.booking {
  background: #fff;
}

.booking__head {
  font-family: "Oswald", sans-serif;
  color: #333;
  font-size: 96px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__head {
    font-size: 64px;
  }
}

@media (max-width: 767px) {
  .booking__head {
    font-size: 56px;
  }
}

.booking__form-wrapper {
  background: #012136;
  padding: 185px 125px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-wrapper {
    padding: 90px 60px;
  }
}

@media (max-width: 767px) {
  .booking__form-wrapper {
    padding: 20px 10px;
  }
}

.booking__form-title {
  font-size: 36px;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .booking__form-title {
    font-size: 24px;
  }
}

.booking__form-description {
  font-size: 24px;
  font-family: "Noto Sans JP", sans-serif;
  color: #fff;
  margin-top: 50px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-description {
    font-size: 20px;
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .booking__form-description {
    font-size: 18px;
    margin-top: 30px;
  }
}

.booking__form-row {
  margin-top: 50px;
  display: block;
}

@media (min-width: 1025px) {
  .booking__form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-row {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .booking__form-row {
    margin-top: 30px;
  }
}

.booking__form-cell {
  margin-top: 50px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-cell {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .booking__form-cell {
    margin-top: 30px;
  }
}

.booking__form-label {
  width: 100%;
  padding: 0;
  margin: 0;
}

@media (min-width: 1025px) {
  .booking__form-label {
    width: 200px;
  }
}

.booking__form-label label {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 24px;
  background: #e5e5e5;
  padding: 10px 16px;
  width: 100%;
  display: inline-block;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-label label {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .booking__form-label label {
    font-size: 16px;
  }
}

.booking__form-select {
  width: 100%;
}

@media (min-width: 1025px) {
  .booking__form-select {
    width: 240px;
  }
}

.booking__form-select-cast {
  width: 100%;
}

@media (min-width: 1025px) {
  .booking__form-select-cast {
    width: 300px;
  }
}

.booking__form-select-cast select {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  padding: 10px 16px;
  border: 1px solid #e5e5e5;
  font-size: 24px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #e5e5e5 url(../img/arrow-mark.png) no-repeat right 12px center/14px 8px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-select-cast select {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .booking__form-select-cast select {
    font-size: 16px;
  }
}

.booking__form-select select {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  padding: 10px 16px;
  border: 1px solid #e5e5e5;
  font-size: 24px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #e5e5e5 url(../img/arrow-mark.png) no-repeat right 12px center/14px 8px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-select select {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .booking__form-select select {
    font-size: 16px;
  }
}

.booking__form-select .your-date {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  padding: 10px 16px;
  border: 1px solid #e5e5e5;
  font-size: 24px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #e5e5e5 url(../img/date-mark.png) no-repeat right 12px center/16px 16px;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-select .your-date {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .booking__form-select .your-date {
    font-size: 16px;
  }
}

.booking__form-input {
  width: 100%;
}

@media (min-width: 1025px) {
  .booking__form-input {
    width: calc(100% - 200px);
  }
}

.booking__form-input .your-name {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  width: 100%;
  padding: 10px 16px;
  height: 100%;
}

.booking__form-input .your-email {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  width: 100%;
  padding: 10px 16px;
  height: 100%;
}

.booking__form-check {
  margin-top: 50px;
  text-align: center;
}

.booking__form-check .your-check {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 2px solid #333;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-check .your-check {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 767px) {
  .booking__form-check .your-check {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-check {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .booking__form-check {
    margin-top: 30px;
  }
}

.booking__form-check span {
  display: inline-block;
  font-size: 18px;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-check span {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .booking__form-check span {
    font-size: 14px;
  }
}

.booking__form-check a {
  font-family: inherit;
  font-size: 18px;
  color: #fff;
  text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-check a {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .booking__form-check a {
    font-size: 14px;
  }
}

.booking__form-button {
  margin-top: 50px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-button {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .booking__form-button {
    margin-top: 30px;
  }
}

.booking__form-button .your-submit {
  font-size: 24px;
  font-weight: 700;
  background: #ed474a;
  width: 200px;
  max-width: 100%;
  color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
          box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border: none;
  display: inline-block;
}

.success-message {
  font-size: 48px;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .success-message {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .success-message {
    font-size: 24px;
  }
}
/*# sourceMappingURL=style.css.map */