@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Oswald:wght@200;400;700&display=swap");
/*==================================
# common
==================================*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  overflow-x: hidden;
  max-width: 100%;
  word-break: break-all;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

a:hover {
  opacity: 0.6;
}

ul {
  list-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  font-size: inherit;
  color: "Noto Sans JP", sans-serif;
  border: 1px solid #333;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: 0;
}

input[type="submit"] {
  width: 100%;
  font-size: inherit;
  color: #fff;
  border: 1px solid #333;
  background-color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input[type="submit"]:hover {
  opacity: 0.6;
}

select {
  width: 100%;
  font-size: inherit;
  color: #333;
  border: 1px solid #333;
}

select option {
  color: #333;
}

select option:first-child {
  display: none;
}

textarea {
  width: 100%;
  font-size: inherit;
  color: #333;
  border: 1px solid #333;
  resize: none;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: #333;
}

:-ms-input-placeholder {
  opacity: 1;
  color: #333;
}

::-ms-input-placeholder {
  opacity: 1;
  color: #333;
}

::placeholder {
  opacity: 1;
  color: #333;
}

.SPACER--60 {
  height: 60px;
}

.SPACER--80 {
  height: 80px;
}

.SPACER--100 {
  height: 100px;
}

.SPACER--130 {
  height: 130px;
}

.SPACER--160 {
  height: 160px;
}

.SPACER--200 {
  height: 200px;
}

.SP--NONE {
  display: block;
}

@media (max-width: 767px) {
  .SP--NONE {
    display: none;
  }
}

.TAB--NONE {
  display: block;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .TAB--NONE {
    display: none;
  }
}

@media (max-width: 767px) {
  .TAB--NONE {
    display: none;
  }
}

.inner {
  max-width: 1440px;
  padding: 0 150px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

.btn a {
  display: inline-block;
  width: 335px;
  max-width: 100%;
  height: 85px;
  line-height: 85px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  background: #012136;
  color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
          box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
}

@media (max-width: 767px) {
  .btn a {
    width: 230px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
  }
}

.btn-large a {
  display: inline-block;
  width: 795px;
  max-width: 100%;
  height: 85px;
  line-height: 85px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  background: #012136;
  color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
          box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .btn-large a {
    width: 100%;
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .btn-large a {
    width: 100%;
    height: auto;
    font-size: 18px;
    line-height: 2;
    padding: 10px 5px;
  }
}

.pagenation {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
}

.pagenation a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.pagenation a:hover {
  opacity: 0.6;
}

.pagenation a.next,
.pagenation a.prev {
  font-size: 30px;
  height: 40px;
  width: 40px;
}

.pagenation a.next:hover,
.pagenation a.prev:hover {
  opacity: 0.6;
}

.page-numbers {
  background: #fff;
  border: 1px solid #e2e2e2;
  color: #808080;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  height: 40px;
  line-height: 38px;
  margin-right: 14px;
  min-width: 40px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}

.page-numbers:last-child {
  margin-right: 0;
}

.page-numbers.current {
  background: #d81f32;
  border: 1px solid #d81f32;
  color: #fff;
  font-weight: 700;
}

.page-numbers.dots,
.page-numbers.next,
.page-numbers.prev {
  border: none;
  line-height: 40px;
  min-width: initial;
  width: auto;
}

.entry-404 {
  padding-bottom: 85px;
  text-align: center;
}

.entry-404-head {
  color: #f0cdd0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 36px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .entry-404-head {
    font-size: 56px;
  }
}

@media (max-width: 767px) {
  .entry-404-head {
    font-size: 36px;
  }
}

.entry-404-head span::after {
  content: " ";
}

.entry-404-lead {
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 24px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .entry-404-lead {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .entry-404-lead {
    font-size: 18px;
  }
}

.entry-404-lead .m_sp {
  display: none;
}

.entry-404-content {
  color: #333;
}

.entry-404-btn {
  margin-top: 58px;
}

.entry-404-btn .btn {
  background: #012136;
  color: #fff;
}

.entry-404-btn .btn:hover {
  background: #e5e5e5;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */